:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
    
    --f-size: 16px;
    --ff: Figtree;
    --fw-500: 500;
    --fw-800: 800;
    
    
    
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

body{
    background-color: var(--Yellow);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    gap: 30px;
    flex-direction: column;

}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 375px;
    height: 95dvh;
}
.card{
    background-color: var(--White);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 5px 10px black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
h1{
    font-size: 1.4rem;
    font-weight: var(--fw-800);
    color: var(--Gray-950);
    margin-bottom: 10px;
}

h1:hover{
    color: var(--Yellow);
}

.one img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

h4{
    font-size: var(--f-size);
    font-weight: var(--fw-800);
    background-color: var(--Yellow);
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

p{  font-size: var(--f-size); 
    font-weight: var(--fw-500);
    margin-bottom: 10px;
    color: var(--Gray-950);
    font-weight: var(--fw-800);
    
    
}

.para{
    font-weight: var(--fw-500);
    color: var(--Gray-500);
    font-size: var(--f-size);
}

.profile{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.name{
    font-weight: var(--fw-800);
    color: var(--Gray-950);
    font-size: var(--f-size);
}

.attribution { 
    font-size:var(--f-size); 
    text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
    }

@media screen and (max-width: 375px){
    body{
        background-color: var(--Yellow);
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    
    }


    main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90dvh;
        /* gap: 20px; */
        flex-direction: column;
    
    }


    .cont{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        background-color: var(--White);
        max-width: 320px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 10px 5px 10px black;
    }

    h1{
        font-size: 1.1rem;
        font-weight: var(--fw-800);
        color: var(--Gray-950);
        margin-bottom: 10px;
    }

}

